<div class="inputContainer" *ngIf="control">

  <div class="name">
    {{control.label}}
  </div>


  <div class="input">
    <div *ngIf="Array.isArray(control.value)">
      <input *ngFor="let value of control.value" class="width300" type="text" [value]="value">
    </div>
    <div class="flexRow ">
      <input [ngClass]="{width300: control.isArray, width500: !control.isArray}" style="margin-right: 15px"
             type="text" id="input" [value]="value" (input)="onInputValueChange($event)" [placeholder]="control.placeholder || ''">
      <div>
        <div class="button" *ngIf="control.isArray">
          <div *ngIf="control.value">
            <button class="deleteTextBtn" (click)="deleteValue()">
              +
            </button>
          </div>
          <div>
            <button class="addTextBtn" (click)="addNewValue()">+</button>
          </div>
          <div (click)="addNewValue()">Добавить еще</div>
        </div>
      </div>
    </div>
    <label for="input" *ngIf="control.placeholder">{{control.placeholder}}</label>
  </div>
</div>
