<form [formGroup]="dynamicForm">

  <div *ngFor="let control of controls" >
    <div [ngSwitch]="control.type" >
      <ng-template ngSwitchCase="text">
        <app-test-input [control]="control" [formControlName]="control.name"></app-test-input>
      </ng-template>
      <ng-template ngSwitchCase="number">
        <app-test-input [control]="control" [formControlName]="control.name"></app-test-input>
      </ng-template>
      <ng-template ngSwitchCase="select">
        <app-test-select [control]="control" [formControlName]="control.name"></app-test-select>
      </ng-template>
      <ng-template ngSwitchCase="checkbox">
        <app-test-checkbox [control]="control" [formControlName]="control.name"></app-test-checkbox>
      </ng-template>
    </div>
  </div>

  <div class="btnContainer">
    <button (click)="submit($event)">Отправить</button>
  </div>
</form>


