<div class="checkBoxContainer" *ngIf="control">

  <div class="checkBoxLabel">{{control.label}}</div>

  <form class="checkBoxBlock" >
    <div *ngFor="let option of control.checkbox">
      <input type="checkbox" [id]="option.label" value="{{option.label}}" [checked]="option.checked">
      <label for="{{option.label}}"  >{{option.label}}</label>
    </div>

    <div>
      <input type="checkbox" id="selectAll" >
      <label for="selectAll" style="font-weight: bold">Выбрать все</label>
    </div>
  </form>

</div>
